<a mat-button color="primary">Liste books</a>

<div class="container">
    <ng-container *ngIf="listBooks; else loading">
        <table mat-table [dataSource]="listBooks" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let book">{{ book.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>NOM</th>
                <td mat-cell *matCellDef="let book">{{ book.name }}</td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef>AUTEUR</th>
                <td mat-cell *matCellDef="let book">{{ book.author }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
                <td mat-cell *matCellDef="let book">{{ book.description }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>MES FAVORIS</th>
                <td mat-cell *matCellDef="let book">
                    <button mat-button color="primary" >Ajouter</button>
                    <button mat-button color="warn" >Supprimer</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-container>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>


<!--<div class="container">
    <ng-container *ngIf="listBooks else loading">
        <table class="table table-pink table-striped">
            <thead>
            <tr>
                <th>ID</th> <th>NOM</th> <th>AUTHOR</th> <th>DESCRIPTION</th>  <th>MODIFIER</th> <th>SUPPRIMER</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of listBooks">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.description}}</td>
                <td>
                    <button>Modifier</button>
                </td>
                <td>
                    <button (click)="onDeleteBook()">Supprimer</button>
                </td>
            </tr>
        </tbody>
        </table>
    </ng-container>
  </div>

  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
-->