<p>card works!</p>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>NOM DU LIVRE</mat-card-title>
      <mat-card-subtitle>Auteur</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/Images/Book1.jpg" alt="Book Cover Poulet">
    <mat-card-content>
      <p>
        Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  