<div class="books-container">
    <h1>Liste de Livres</h1>
  
    <div *ngIf="error" class="error-message">
      <p>Error: {{ error }}</p>
    </div>
  
    <div class="card-container" *ngIf="listBooks && listBooks.length > 0">
      <mat-card *ngFor="let book of listBooks" class="book-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ book.name }}</mat-card-title>
            <mat-card-subtitle>Autor: {{ book.author }}</mat-card-subtitle>
          </mat-card-header>
        <img mat-card-image [src]="book.imageUrl" alt="{{ book.name }}">
        <mat-card-content>
          <p>Description: {{ book.description }}</p>

          <mat-card-actions style="display: flex; gap: 8px;">
            <button color="accent" mat-mini-fab extended>
              <mat-icon>favorite</mat-icon>
            </button>
            <button color="primary" mat-mini-fab extended>
              <mat-icon>share</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    </div>
  </div>



<!--<div class="books-container">
    <h1>Liste de Livres</h1>
  
    <div *ngIf="error" class="error-message">
      <p>Error: {{ error }}</p>
    </div>
  
    <mat-grid-list cols="3" rowHeight="350px" *ngIf="listBooks && listBooks.length > 0">
      <mat-grid-tile *ngFor="let book of listBooks">
        <mat-card>
          <img mat-card-image [src]="book.imageUrl" alt="{{ book.name }}">
          <mat-card-content>
            <h2>{{ book.name }}</h2>
            <p>Autor: {{ book.author }}</p>
            <p>Description: {{ book.description }}</p>
            <button mat-button>Ajouter</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>-->

<!--<div class="books-container">
  <h1>Liste de Livres</h1>

  <div *ngIf="error" class="error-message">
    <p>Error  {{ error }}</p>
  </div>

  <ul *ngIf="listBooks && listBooks.length > 0">
    <li *ngFor="let book of listBooks">
        <img [src]="book.imageUrl" alt="{{book.name}}">
      <h2>{{ book.name }}</h2>
      <p>Autheur: {{ book.author }}</p>
      <p>Description: {{ book.description }}</p>
      <button >Ajouter</button>
    </li>
  </ul>-->

  <div *ngIf="listBooks && listBooks.length === 0">
    <p>Il n'y pas de livres</p>
  </div>


<a class="btn btn-primary" (click)="getAllBooks()">Books</a>

<div class ="container">
    <ng-container *ngIf="listBooks else loading">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th><th>NOM</th><th>AUTEUR</th><th>DESCRIPTION</th><th>PRIX</th><th>QUANTITE</th><th>PANIER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of listBooks">
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.price}}</td>
                    <td><input type="number" name="quantity" style="width:60px" [(ngModel)]="book.quantity"></td>
                    <td><a class="btn btn-primary">Ajouter</a></td>
                    <button>Supprimer</button>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>
</div>