<div class ="container">
   
    <ng-container *ngIf="listBooks else loading">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th><th>NOM</th><th>AUTEUR</th><th>DESCRIPTION</th><th>PRIX</th><th>QUANTITE</th><th>PANIER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of listBooks">
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.price}}</td>
                    <td><input type="number" name="quantity" style="width:60px" [(ngModel)]="book.quantity"></td>
                    <td><a class="btn btn-primary" (click)="onAddToCart(book)">Ajouter</a></td>
                    <button>Supprimer</button>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>
</div>