
<div class="books-container">
  <h1>Lista de Libros</h1>

  <div *ngIf="error" class="error-message">
    <p>Error  {{ error }}</p>
  </div>

  <ul *ngIf="listBooks && listBooks.length > 0">
    <li *ngFor="let book of listBooks">
        <img [src]="book.imageUrl" alt="{{book.name}}">
      <h2>{{ book.name }}</h2>
      <p>Autheur: {{ book.author }}</p>
      <p>Prix: {{ book.price | currency }}</p>
      <button >Ajouter</button>
    </li>
  </ul>

  <div *ngIf="listBooks && listBooks.length === 0">
    <p>Il n'y pas de livres</p>
  </div>
</div>

<a class="btn btn-primary" (click)="getAllBooks()">Books</a>

<div class ="container">
    <ng-container *ngIf="listBooks else loading">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th><th>NOM</th><th>AUTEUR</th><th>DESCRIPTION</th><th>PRIX</th><th>QUANTITE</th><th>PANIER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of listBooks">
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.price}}</td>
                    <td><input type="number" name="quantity" style="width:60px" [(ngModel)]="book.quantity"></td>
                    <td><a class="btn btn-primary">Ajouter</a></td>
                    <button>Supprimer</button>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>
</div>