
<app-navbar> </app-navbar>

<app-books></app-books>

<app-card></app-card>
<app-grid></app-grid>
<app-books-list></app-books-list>


 <button mat-raised-button color="primary">mat-raised-button</button>
 <button mat-button> Mat-button</button>
 <button mat-flat-button> Flat-button</button>
 <button mat-stroked-button> Strockedutton</button>

 <div>
 <button color="primary" mat-button> Primary color</button>
 <button color="accent"mat-flat-button> Accent color</button>
 <button color="warn"mat-stroked-button> Warn Color</button>
</div>

<div>
    <button mat-icon-button>Mat-icon</button>
    <button mat-fab>Mat-fab-icon</button>
    <button mat-mini-fab>Mat-mini-fab</button>
</div>
 
<router-outlet> </router-outlet>
